@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body{
    background-color: #EF5D60;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    color: #311847;
}

.pic{
    margin: 13% 30px 0 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 60%;
    background-color: #E09F7D;
    box-shadow:  5px 5px 10px #602526,
        -5px -5px 10px #ff959a;
}



.pic>img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: -20%;
    animation: popg2 cubic-bezier(0.82, 0.76, 0.19, 1.58) 2.5s 1;
}


h1,h3{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    animation: pop cubic-bezier(0.82, 0.76, 0.35, 1.32) 2.5s 1;
    
}

h1{
    transform: translateY(10px);
    margin: 0;
    font-size: 50px;
}

h3{
    font-size: 30px;
    transform: translateY(-20px);
}

.github{
    margin: 0;
    height: 65px;
    width: 65px;
    transform: translateY(-30px);
    background: url("https://img.icons8.com/material-rounded/64/000000/github.png") no-repeat 6px center;
    animation: popg cubic-bezier(0.82, 0.76, 0.35, 1.32) 3.0s 1;
    z-index: 1;
}


@keyframes pop{
    from{
        opacity: 0;
        transform: translatey(300px);
        
    }
    to{
        opacity: 1;
    }
}

@keyframes popg{
    from{
        opacity: 0;
        transform: translatex(500px);
        
    }
    to{
        opacity: 1;
    }
}

@keyframes popg2{
    from{
        opacity: 0;
        transform: translatex(-400px);
        
    }
    to{
        opacity: 1;
    }
}
